<%-layout("/layouts/boilerplate.ejs")%>

<h2 class="m-3 text">Add Task</h2>
<div class="container-fluid">
    <form action="/tasks/new" method="post">
        <label for="task" class="form-label offset-3">Task : </label>
        <input type="text" placeholder="Enter task" name="task[task]" class="form-control inp offset-3 mb-3" id="task"> 
        <button class="btn btn-outline-info offset-3">Add</button>
    </form>
</div>
<h3 class="m-3 text">All tasks</h3>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 offset-2 me-3">
    <%for(task of tasks){%>
        <div class="col-4 m-3 py-2 task" style="border: 1px solid aqua;">
            <p class="m-2"><%=task.task%></p>
            <form action="/tasks/delete/<%=task._id%>?_method=DELETE" method="post">
                <button class="btn btn-outline-info btn-sm ms-2" style="border-radius: 0.5rem;" >X</button>
            </form>
        </div>
    <%}%>
</div>