<%-layout("/layouts/boilerplate.ejs")%>
<div class="container-md mt-5" style="width: 50%; top: 40%;">
    <h1 class="text m-3" style="text-align: center;">TO-DO APP</h1>
    <a href="/signup" class="btn btn-info offset-4 mt-5">Signup</a>
    <a href="/login"  class="btn btn-info offset-2 mt-5">Login</a>
</div>